			/*Elements*/
body{
	height: 100vh;
	width: 100vw;
	font-family: helvetica;
	font-size: 1.2em;
	color: #503D42;
	/* Background Gradient for Analagous Colors */
    background-color: #86866B;
    /* For WebKit (Safari, Chrome, etc) */
    background: #86866B -webkit-gradient(linear, left top, left bottom, from(#74866B), to(#86866B)) no-repeat;
    /* Mozilla,Firefox/Gecko */
    background: #86866B -moz-linear-gradient(top, #74866B, #86866B) no-repeat;
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#74866B, endColorstr=#86866B) no-repeat;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#74866B, endColorstr=#74866B)" no-repeat;
}

footer{
	position:fixed;
	bottom:0px;
	width: 100%;
	background-color: #F5FBEF;
}

footer div{
	width: 33%;
	height: 100px;
	margin: 0px;
	border: 2px solid black;
	float: left;
	text-align: center;
	padding-top: 30px;
}

ul li{
	list-style-type: none;
	padding-top: 20px;
	padding-right: 40px;
}

			/*Classes*/

.navbar{
	background-color: #F5FBEF;
	padding-right: 20px;
	color: #84C318;
}

.playerPic{
	width: 34%;
}

.largeTextDiv{
	width: 50%; 
	height: 40%;
	margin: 10% 25%;
	border: 2px solid black;
	background-color: #F5FBEF;
	text-align: center;
	padding-top: 20px;
}

.enemies{
	height: 100px;
	width: 100px;
	position: absolute; 
	border: 2px solid black;
	background-size: contain;
	background-image: url("../images/Soldier100.png");
	margin-left: 25px;
}

			/*ID's*/

#timer{
	color: black;
}

#instructions{
	display: none;
}

#leaderboard{
	display: none;
}

#leaderboard ol{
	padding-top: 50px;
	font-size: 1.6em;
}

#gameOver{
	display: none;
}