			/*Elements*/
body{
	height: 100vh;
	width: 100vw;
	font-family: helvetica;
	font-size: 1.2em;
	color: black;
	background: linear-gradient(to bottom, #94c5f8 1%,#a6e6ff 70%,#b1b5ea 100%);
    cursor: crosshair;
}

footer{
	position:fixed;
	bottom:0px;
	width: 100%;
	background-color: #9BA0BC;
	cursor: default;
}

footer div{
	width: 33%;
	height: 100px;
	margin: 0px;
	border: 2px solid black;
	float: left;
	text-align: center;
	padding-top: 30px;
}

ul li{
	list-style-type: none;
	padding-top: 20px;
	padding-right: 40px;
}

			/*Classes*/

.navbar{
	background-color: #9BA0BC;
	padding-right: 20px;
	cursor: default;
	border-bottom: 2px solid black;
}

.playerName{
	width: 34%;
	padding-top: 10px;
}

.largeTextDiv{
	width: 50%; 
	height: 40%;
	margin: 10% 25%;
	border: 2px solid black;
	background-color: #9BA0BC;
	text-align: center;
	padding-top: 20px;
}

.enemies{
	height: 100px;
	width: 100px;
	position: absolute; 
	border: 2px solid black;
	background-size: contain;
	background-image: url("../images/rsz_paratrooper.png");
	margin-left: 25px;
}

			/*ID's*/

#startButton{
	position: fixed;
	height: 75px;
	width: 100px;
	margin: 18% 45%;
	border: 2px solid black;
	color: black;
	background-color: #9BA0BC;
}

#timer{
	color: black;
}

#instructions{
	display: none;
}

#leaderboard{
	display: none;
}

#gameOver{
	display: none;
}

#playerNameBox{
	text-align: center;	
}

#navTitle{
	text-decoration: underline;
	font-weight: bold;
}

#gameOver button{
	color: #27213C; 
	background-color: white;
}

#leaderboard ol{
	list-style-type: none;
	padding-top: 50px;
	font-size: 1.6em;
}