			/*Elements*/
body{
	height: 100vh;
	width: 100vw;
	font-family: helvetica;
	font-size: 1.2em;
	color: #503D42;
    /* For WebKit (Safari, Chrome, etc) */
    background: #86866B -webkit-gradient(linear, left top, left bottom, from(#74866B), to(#86866B)) no-repeat;
    cursor: crosshair;
}

footer{
	position:fixed;
	bottom:0px;
	width: 100%;
	background-color: #F5FBEF;
	cursor: default;
}

footer div{
	width: 33%;
	height: 100px;
	margin: 0px;
	border: 2px solid black;
	float: left;
	text-align: center;
	padding-top: 30px;
}

ul li{
	list-style-type: none;
	padding-top: 20px;
	padding-right: 40px;
}

			/*Classes*/

.navbar{
	background-color: #F5FBEF;
	padding-right: 20px;
	color: #84C318;
	cursor: default;
	border-bottom: 2px solid black;
}

.playerName{
	width: 34%;
	padding-top: 10px;
}



.largeTextDiv{
	width: 50%; 
	height: 40%;
	margin: 10% 25%;
	border: 2px solid black;
	background-color: #F5FBEF;
	text-align: center;
	padding-top: 20px;
}

.enemies{
	height: 100px;
	width: 100px;
	position: absolute; 
	border: 2px solid black;
	background-size: contain;
	background-image: url("../images/Soldier100.png");
	margin-left: 25px;
}

			/*ID's*/

#timer{
	color: black;
}

#instructions{
	display: none;
}

#leaderboard{
	display: none;
}

#leaderboard ol{
	list-style-type: none;
	padding-top: 50px;
	font-size: 1.6em;
}

#gameOver{
	display: none;
}

#playerNameBox{
	text-align: center;	
}